header {background-color: #e4542d;
margin-bottom: 50px;
height: 100px;;
width:100%;
}
body{background-color: #FFF0E3;
  margin:0;
  padding: 0;}
img {margin-left:auto;
    display: block;
    margin-right: auto;
    padding-top: 10px;
  border-radius: 60%;
}
  

    footer {background-color: #e4542d;
    color: white;
    position:absolute;
    bottom:0;
    width: 100%;
    height: 50px;
     padding-top: 40px;}

     p1 {padding-left: 170px;}
     p2 {padding-left: 30px;}
     p3{padding-left: 290px;}
     .contact
     {
       position: relative;
       top: -20px;
     }
     .button {
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        
      }
      
      .button1 {background-color: #e4542d;  
    font-family: 'Monotype Corsiva', cursive;
  font-size:x-large;
margin-left: 40px;
top: -20px;
}
      .button2 {background-color: #e4542d; margin-right: 1150px;
        font-family: 'Monotype Corsiva', cursive;
        font-size:x-large;
      margin-right: 0px;
      top: -20px;}
        .button3 {background-color: #e4542d;
          font-family: 'Monotype Corsiva', cursive;
        font-size:x-large;
        top: -20px;}
      input{margin-left: 950px;
        top: -20px;
      position: relative;}
 
   .row {
    display: flex;
    position: relative;
    top: 30px;}
  
  .column {
    flex: 10%;
    padding: 5px;
    border-color:#e4542d;}
    .button4 {font-size: 30px;
    margin-left: 190px;
    background-color: #FC9642;
  text-transform: uppercase;
border-radius: 10%;
font-family: 'Monotype Corsiva', cursive;}
    .button5 {font-size: 30px;
        margin-left: 190px;
        background-color: #FC9642;
        text-transform: uppercase;
        border-radius: 10%;
        font-family: 'Monotype Corsiva', cursive;}
        .button6 {font-size: 30px;
            margin-left: 190px;
            background-color: #FC9642;
            text-transform: uppercase;
            border-radius: 10%;
            font-family: 'Monotype Corsiva', cursive;
            }
            .contact{font-family: 'Monotype Corsiva', cursive;
            font-size: larger;
          margin-left: 40px;}
          .button:hover{
            color: rgb(214, 214, 214);
          }
